TI1.1 SOAP_JAVA_SINBDD_GR06/02 CLIESC/ConUni_Soap_Java_GR06/src/wsdl/localhost_8080/ConUni_Soap_Java_GR06/ConversorUnidadesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="ConversorUnidadesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/ConUni_Soap_Java_GR06/ConversorUnidadesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="metroAKilometro">
<part name="parameters" element="tns:metroAKilometro"/>
</message>
<message name="metroAKilometroResponse">
<part name="parameters" element="tns:metroAKilometroResponse"/>
</message>
<message name="gramoALibra">
<part name="parameters" element="tns:gramoALibra"/>
</message>
<message name="gramoALibraResponse">
<part name="parameters" element="tns:gramoALibraResponse"/>
</message>
<message name="kelvinAFahrenheit">
<part name="parameters" element="tns:kelvinAFahrenheit"/>
</message>
<message name="kelvinAFahrenheitResponse">
<part name="parameters" element="tns:kelvinAFahrenheitResponse"/>
</message>
<message name="metroAMilla">
<part name="parameters" element="tns:metroAMilla"/>
</message>
<message name="metroAMillaResponse">
<part name="parameters" element="tns:metroAMillaResponse"/>
</message>
<message name="kilometroAMilla">
<part name="parameters" element="tns:kilometroAMilla"/>
</message>
<message name="kilometroAMillaResponse">
<part name="parameters" element="tns:kilometroAMillaResponse"/>
</message>
<message name="millaAMetro">
<part name="parameters" element="tns:millaAMetro"/>
</message>
<message name="millaAMetroResponse">
<part name="parameters" element="tns:millaAMetroResponse"/>
</message>
<message name="kilometroAMetro">
<part name="parameters" element="tns:kilometroAMetro"/>
</message>
<message name="kilometroAMetroResponse">
<part name="parameters" element="tns:kilometroAMetroResponse"/>
</message>
<message name="fahrenheitAKelvin">
<part name="parameters" element="tns:fahrenheitAKelvin"/>
</message>
<message name="fahrenheitAKelvinResponse">
<part name="parameters" element="tns:fahrenheitAKelvinResponse"/>
</message>
<message name="millaAKilometro">
<part name="parameters" element="tns:millaAKilometro"/>
</message>
<message name="millaAKilometroResponse">
<part name="parameters" element="tns:millaAKilometroResponse"/>
</message>
<message name="kilogramoAGramo">
<part name="parameters" element="tns:kilogramoAGramo"/>
</message>
<message name="kilogramoAGramoResponse">
<part name="parameters" element="tns:kilogramoAGramoResponse"/>
</message>
<message name="gramoAKilogramo">
<part name="parameters" element="tns:gramoAKilogramo"/>
</message>
<message name="gramoAKilogramoResponse">
<part name="parameters" element="tns:gramoAKilogramoResponse"/>
</message>
<message name="kilogramoALibra">
<part name="parameters" element="tns:kilogramoALibra"/>
</message>
<message name="kilogramoALibraResponse">
<part name="parameters" element="tns:kilogramoALibraResponse"/>
</message>
<message name="libraAKilogramo">
<part name="parameters" element="tns:libraAKilogramo"/>
</message>
<message name="libraAKilogramoResponse">
<part name="parameters" element="tns:libraAKilogramoResponse"/>
</message>
<message name="libraAGramo">
<part name="parameters" element="tns:libraAGramo"/>
</message>
<message name="libraAGramoResponse">
<part name="parameters" element="tns:libraAGramoResponse"/>
</message>
<message name="fahrenheitACelsius">
<part name="parameters" element="tns:fahrenheitACelsius"/>
</message>
<message name="fahrenheitACelsiusResponse">
<part name="parameters" element="tns:fahrenheitACelsiusResponse"/>
</message>
<message name="celsiusAKelvin">
<part name="parameters" element="tns:celsiusAKelvin"/>
</message>
<message name="celsiusAKelvinResponse">
<part name="parameters" element="tns:celsiusAKelvinResponse"/>
</message>
<message name="kelvinACelsius">
<part name="parameters" element="tns:kelvinACelsius"/>
</message>
<message name="kelvinACelsiusResponse">
<part name="parameters" element="tns:kelvinACelsiusResponse"/>
</message>
<message name="celsiusAFahrenheit">
<part name="parameters" element="tns:celsiusAFahrenheit"/>
</message>
<message name="celsiusAFahrenheitResponse">
<part name="parameters" element="tns:celsiusAFahrenheitResponse"/>
</message>
<portType name="ConversorUnidadesWS">
<operation name="login">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="metroAKilometro">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/metroAKilometroRequest" message="tns:metroAKilometro"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/metroAKilometroResponse" message="tns:metroAKilometroResponse"/>
</operation>
<operation name="gramoALibra">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/gramoALibraRequest" message="tns:gramoALibra"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/gramoALibraResponse" message="tns:gramoALibraResponse"/>
</operation>
<operation name="kelvinAFahrenheit">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kelvinAFahrenheitRequest" message="tns:kelvinAFahrenheit"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kelvinAFahrenheitResponse" message="tns:kelvinAFahrenheitResponse"/>
</operation>
<operation name="metroAMilla">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/metroAMillaRequest" message="tns:metroAMilla"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/metroAMillaResponse" message="tns:metroAMillaResponse"/>
</operation>
<operation name="kilometroAMilla">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilometroAMillaRequest" message="tns:kilometroAMilla"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilometroAMillaResponse" message="tns:kilometroAMillaResponse"/>
</operation>
<operation name="millaAMetro">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/millaAMetroRequest" message="tns:millaAMetro"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/millaAMetroResponse" message="tns:millaAMetroResponse"/>
</operation>
<operation name="kilometroAMetro">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilometroAMetroRequest" message="tns:kilometroAMetro"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilometroAMetroResponse" message="tns:kilometroAMetroResponse"/>
</operation>
<operation name="fahrenheitAKelvin">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/fahrenheitAKelvinRequest" message="tns:fahrenheitAKelvin"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/fahrenheitAKelvinResponse" message="tns:fahrenheitAKelvinResponse"/>
</operation>
<operation name="millaAKilometro">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/millaAKilometroRequest" message="tns:millaAKilometro"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/millaAKilometroResponse" message="tns:millaAKilometroResponse"/>
</operation>
<operation name="kilogramoAGramo">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilogramoAGramoRequest" message="tns:kilogramoAGramo"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilogramoAGramoResponse" message="tns:kilogramoAGramoResponse"/>
</operation>
<operation name="gramoAKilogramo">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/gramoAKilogramoRequest" message="tns:gramoAKilogramo"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/gramoAKilogramoResponse" message="tns:gramoAKilogramoResponse"/>
</operation>
<operation name="kilogramoALibra">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilogramoALibraRequest" message="tns:kilogramoALibra"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kilogramoALibraResponse" message="tns:kilogramoALibraResponse"/>
</operation>
<operation name="libraAKilogramo">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/libraAKilogramoRequest" message="tns:libraAKilogramo"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/libraAKilogramoResponse" message="tns:libraAKilogramoResponse"/>
</operation>
<operation name="libraAGramo">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/libraAGramoRequest" message="tns:libraAGramo"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/libraAGramoResponse" message="tns:libraAGramoResponse"/>
</operation>
<operation name="fahrenheitACelsius">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/fahrenheitACelsiusRequest" message="tns:fahrenheitACelsius"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/fahrenheitACelsiusResponse" message="tns:fahrenheitACelsiusResponse"/>
</operation>
<operation name="celsiusAKelvin">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/celsiusAKelvinRequest" message="tns:celsiusAKelvin"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/celsiusAKelvinResponse" message="tns:celsiusAKelvinResponse"/>
</operation>
<operation name="kelvinACelsius">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kelvinACelsiusRequest" message="tns:kelvinACelsius"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/kelvinACelsiusResponse" message="tns:kelvinACelsiusResponse"/>
</operation>
<operation name="celsiusAFahrenheit">
<input wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/celsiusAFahrenheitRequest" message="tns:celsiusAFahrenheit"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorUnidadesWS/celsiusAFahrenheitResponse" message="tns:celsiusAFahrenheitResponse"/>
</operation>
</portType>
<binding name="ConversorUnidadesWSPortBinding" type="tns:ConversorUnidadesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="metroAKilometro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gramoALibra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kelvinAFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="metroAMilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilometroAMilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="millaAMetro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilometroAMetro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fahrenheitAKelvin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="millaAKilometro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilogramoAGramo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gramoAKilogramo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilogramoALibra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="libraAKilogramo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="libraAGramo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fahrenheitACelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusAKelvin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kelvinACelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusAFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversorUnidadesWS">
<port name="ConversorUnidadesWSPort" binding="tns:ConversorUnidadesWSPortBinding">
<soap:address location="http://localhost:8080/ConUni_Soap_Java_GR06/ConversorUnidadesWS"/>
</port>
</service>
</definitions>