TI1.2 SOAP_DOTNET_SINBDD_GR06/02 CLIESC/ConUni_Client_Escritorio_DotNet/ConUni_Client_Escritorio_DotNet/Web References/WebReference/ConversorUnidadesWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.63.57.155:61088/WebServices/ConversorUnidadesWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConUni_Soap_Dotnet_GR06.Modelos" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConUni_Soap_Dotnet_GR06.Modelos" minOccurs="0" name="LoginResult" nillable="true" type="q1:RespuestaAutenticacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAKilometro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAKilometroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetroAKilometroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilometros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometroAMetroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAMilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAMillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetroAMillaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAMetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAMetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MillaAMetroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilometros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometroAMillaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAKilometro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAKilometroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MillaAKilometroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoAGramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilogramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoAGramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramoAGramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAKilogramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAKilogramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramoAKilogramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilogramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramoALibraResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAKilogramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libras" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAKilogramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibraAKilogramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoALibra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoALibraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramoALibraResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAGramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libras" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAGramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibraAGramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>