TI1.2 SOAP_DOTNET_SINBDD_GR06/02 CLIESC/ConUni_Client_Escritorio_DotNet/ConUni_Client_Escritorio_DotNet/Web References/localhost/ConversorUnidadesWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConUni_Soap_Dotnet_GR06.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConUni_Soap_Dotnet_GR06.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaAutenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaAutenticacion" nillable="true" type="tns:RespuestaAutenticacion" />
</xs:schema>